<div class="row">
    <div class="col-sm-12">
        <form [formGroup]="profileForm" (ngSubmit)="createPost()">

        <div class="form-group">
            <label for="usr">Title*</label>
            <input type="text" class="form-control" id="usr"  formControlName="title">
          </div>
          <div class="form-group">
            <label for="comment">Description*</label>
            <textarea class="form-control" rows="5" id="comment"  formControlName="body"></textarea>
          </div> 
          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
</form>
    </div>
</div>