<app-header></app-header>
<div class="container paddingTop">
    <div class="row" *ngFor=" let item of postData; trackBy: trackByFn;" >
        <div class="col-sm-12" >
            <div class="postcotnainer"> 
                <app-post-body (postDataEmitter)="getPostData()"  [postData]="item"></app-post-body>
                
 <a routerLink="/post/details/{{item._id}}" class="moreclass">View more</a>
            </div>
        </div>
    </div>
</div>