 

            <div class="card ">
                <div class="card-body">
                    <div class="customeSize">
                        <h3>{{postData.title}}</h3>
                        <p>{{postData.body}}</p>

                    </div> 
                </div>
              </div> 
 