<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <app-create-post (postCreated)="postCreated($event)"></app-create-post>
        </div>
        <div class="col-sm-6"> 
            <app-my-posts  ></app-my-posts>
        </div>
    </div> 
    

</div>