<h4>
    My posts
</h4>
<div class="row">
    <div class="col-sm-12" *ngFor=" let item of postList; trackBy: trackByFn;" >
        <div class="postcotnainer"> 
            <app-post-body (postDataEmitter)="ngOnInit()"  [postData]="item"></app-post-body>
            <a routerLink="/post/details/{{item._id}}" class="moreclass">View more</a>


        </div>
    </div>
</div>